body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #FCEFCB;
  overflow-x: hidden;
}

header {
  margin: 2rem auto;
  display: flex;
  background-color: #FCEFCB;
  padding: 2px 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px dashed #FCEFCB;
}

.lol {
  color: #3A0519;
}
.logo-img {
  width: 120px;
}

.buttons ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.buttons a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
    justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 70px 50px;
  gap: 30px;
  flex-wrap: wrap;
  text-align: left;
}

.character {
  width: 250px;
  animation: floatUpDown 1.50s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.intro-text {
  max-width: 700px;
}

.intro-text h2 {
  color: #3A0519;
  margin: 0;
}

.intro-text h1 {
  color: #FE7743;
  font-size: 48px;
  margin: 0;
}

.intro-text em {
  color: #3A0519;
  font-size: 20px;
}

.my-games {
  color: #FE7743;
  text-align: center;
  font-size: 20px;
}

.the-games {
    display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 70px 50px;
  gap: 30px;
  flex-wrap: wrap;
  text-align: left;
}


.my-website {
    color: #FE7743;
  text-align: center;
  font-size: 20px;
}


@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    text-align: center;
  }

  .intro-text {
    text-align: center;
  }
}
